# Learning from Data

## homework 2

### Question 1 Hoeffding Inequality

In [2]:
import scipy.stats as ss

In [3]:
import numpy as np

In [4]:
def flip_coin(num_time):
    return ss.binom.rvs(1, 0.5, size=num_time)

In [5]:
c = flip_coin(10)

In [21]:
def flip_coins(num_flip, num_coins):
    sample = dict()
    for i in range(num_coins):
        sample[i] = ss.binom.rvs(1, 0.5, size=num_flip)
    coins = pd.DataFrame(sample)
    return coins

In [9]:
import pandas as pd

In [22]:
result = flip_coins(10, 10)

In [23]:
result

   0  1  2  3  4  5  6  7  8  9
0  1  0  1  1  0  1  0  1  1  1
1  0  0  1  0  1  1  0  1  0  0
2  0  1  0  1  1  0  0  1  0  1
3  1  1  1  1  0  0  1  0  0  0
4  0  1  0  0  1  0  0  1  0  1
5  1  1  1  1  0  0  0  0  0  0
6  0  0  1  1  1  0  0  1  1  1
7  0  1  0  0  0  1  0  0  1  0
8  1  0  0  1  0  1  1  1  0  0
9  1  0  1  1  1  1  1  0  0  0

In [16]:
test = ss.binom.rvs(1, 0.5, size=10)

In [17]:
test

array([1, 1, 1, 0, 0, 0, 0, 0, 1, 0])