# Learning from Data

## homework 2

### Question 1 Hoeffding Inequality

In [1]:
import scipy.stats as ss

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [34]:
def flip_coins(num_coins, num_flip):
    sample = dict()
    for i in range(num_coins):
        sample[i] = ss.binom.rvs(1, 0.5, size=num_flip)
    coins = pd.DataFrame(sample)
    return coins

In [31]:
def find_small(dataset):
    coin = 10
    heads = 10
    for i, f in enumerate(dataset):
        num_head = dataset.iloc[i].sum()
        if num_head < heads:
            coin = i
            heads = num_head
    return coin, heads

In [35]:
result = flip_coins(10, 10)

In [36]:
c_first = result.iloc[0]

In [37]:
c_rand = result.sample(n=1)

In [38]:
c_min = find_small(result)

In [41]:
print(c_first.sum())

4

In [46]:
print(c_rand.iloc[0].sum())

3

In [49]:
print(c_min)

(9, 1)

In [48]:
result

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  0  0  1  0  0  1  1
1  1  0  1  1  1  1  1  0  0  1
2  0  1  0  1  0  1  1  1  0  1
3  0  1  0  1  0  0  1  1  1  0
4  1  0  1  1  1  1  0  0  1  1
5  1  0  0  1  1  1  1  1  1  0
6  0  0  1  0  1  0  0  0  0  1
7  0  1  0  0  0  1  0  0  1  0
8  1  0  0  0  1  1  1  1  1  1
9  0  0  0  0  1  0  0  0  0  0

In [52]:
def run_simulation(num_run):
    first = list()
    rand = list()
    mini = list()
    for i in range(num_run):
        output = flip_coins(1000, 10)
        c_first = output.iloc[0]
        c_rand = output.sample(n=1)
        c_min = find_small(output)
        first.append(c_first.sum())
        rand.append(c_rand.iloc[0].sum())
        mini.append(c_min[1])
    data = {'first': first, 'random': rand, 'mini': mini}
    return pd.DataFrame(data)

In [ ]:
data = run_simulation(100000)

In [56]:
data

   first  mini  random
0      4     2       7
1      7     4       1
2      6     3       5
3      3     3       7
4      1     1       4
5      3     1       6
6      3     2       6
7      5     2       7
8      4     4       4
9      6     3       6